
@font-face {
  font-family: 'Tokyo-Regular';
  src: url('./fonts/Tokyo-Regular.woff') format('woff'), url('./fonts/Tokyo-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tokyo-Outline';
  src: url('./fonts/Tokyo-Outline.woff') format('woff'), url('./fonts/Tokyo-Outline.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tokyo-Merged';
  src: url('./fonts/Tokyo-Merged.woff') format('woff'), url('./fonts/Tokyo-Merged.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

.text-merged{
  font-family: 'Tokyo-Merged';
}



@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

html{
  height:100%;
  background:linear-gradient(315deg,rgba(0,170,255,0.1),rgba(220,110,10,0.2) 80%);
  background-attachment:fixed;
}
body{
  font-family: 'News Cycle', sans-serif;
  font-size: 1em;
  font-weight: lighter;
}
a:link,  a:visited, a:hover, a:active,{
  text-decoration: none;
  color: white;
}
#social{
  a:link,  a:visited, a:hover, a:active,{
    text-decoration: none;
    color: white;
  }
}
.project-links{
  a:link,  a:visited, a:hover, a:active,{
    color: rgba(0,0,0,0.2);
    text-decoration: none;
  }
}
.text-outline{
  font-family: 'Tokyo-Outline';
  color: black;
}
.text-solid{
  font-family: 'Tokyo-Regular';
  color: white;
  margin-left: 2px;
  margin-top: 2px;

}
h1{
  font-size: 3.8rem;
  font-weight: lighter;
  width: 100%;
  text-align: center;
}
// #container {
//     background: #666;
//     margin: auto;
//     width: 500px;
//     height: 700px;
//     padding-top: 30px;
//     font-family: helvetica, arial, sans-serif;
//     }

h2{
    font-size: 1.3em;
    text-align: center;
    font-family: 'Tokyo-Regular';
    color: white;
    width: 100%;
    //  background: #e3e3e3;
      // background: black;
      background: #303030;

    //  background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    //  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#c8c8c8));
     padding: 5px 10px 10px 10px;
     margin-left: -20px;
     margin-top: 0;
     position: relative;
    //  width: 70%;

    -moz-box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
       box-shadow: 1px 1px 3px #292929;

    // color: #454545;
    text-shadow: 0 1px 0 black;
}

.arrow {
     width: 0; height: 0;
     line-height: 0;
     border-left: 20px solid transparent;
     border-top: 10px solid #c8c8c8;
     top: 104%;
     left: 0;
     position: absolute;
}

// h2{
//   font-family: 'Tokyo-Regular';
//   color: white;
//   display: inline;
//   background: black;
//   font-size:1em;
//   text-align: center;
//   width: 100%;
//   // max-width: 70%;
//   // margin: auto;
//   padding: 0em 0.3em 0.4em 0.4em;/*set top and bottom padding to make up extra height*/
// }
h3{
  font-size: 3em;
  width: 100%;
  color: #000;
  font-weight:lighter;
  padding-bottom: 5px;
  text-align:center;
}
text-shadow{
  text-shadow: #9d9d9d 1px 1px 2px;
}
p{
  text-shadow: #9d9d9d 1px 1px 3px;
  line-height: 1.1em;
  font-size: 1em;
}
footer{
  background: #9d9d9d;
  color: #fff;
}

.flex{
  display: flex;
}
.flex-grow{
  height: 100%;
}
.flex-col{
  flex-direction: column;
}
.just-space-between{
  justify-content: space-between;
}
.just-center{
  justify-content: center;
}
.align-cont-cent{
  align-content: center;
}
#top-fixed{
  z-index: 10000;
  position: fixed;
  width: 100%;
  /*height: 50vh;*/
  background: rgba(255, 0, 0, 0.5);
}
.slant0{
  // color: #fff;
  position: relative;
  z-index: 1;
  // background-size: 400px;
  // padding-top: 0 !important;
  // repeat: repeat;
}
.slant0:after{
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -1;
}


.slant1 {
  // padding-top: 0.5em !important;
  color: #fff;
  position: relative;
  z-index: 1;
}

.slant1:after {
  background: rgba(200, 80, 200, 0.1);
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.slant2 {
  color: #fff;
  position: relative;
  z-index: 1;
}
.slant2:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.slant3{
  color: #fff;
  position: relative;
  z-index: 1;
}
.slant3:after {
  background: linear-gradient(315deg,rgba(255,90,200,0.1),rgba(0,170,255,0.1)),linear-gradient(90deg,rgba(255,255,255,0.9),rgba(255,255,255,0.1));
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.slant4{
  color: #fff;
  position: relative;
  z-index: 1;
}
.slant4:after{
  background-color: rgba(230, 250, 250, 0.5);
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.slant5{
  color: #fff;
  position: relative;
  z-index: 1;
}
.slant5:after{
  // background-color: rgba(230, 250, 250, 0.5);
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.slant6{
  color: #fff;
  position: relative;
  z-index: 1;
}
.slant6:after{
  background: rgba(200, 80, 200, 0.1);
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.slant-footer{
  color: #fff;
  padding-top: 3em !important;

  position: relative;
  z-index: 1;
  height: 30vh;
}
.slant-footer:after{
  bottom: 0;
  background: #303030;
  // background-color: rgba(114, 114, 127, 0.9);

  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.padding15{
  padding: 15px;
}
.padding15-b{
  padding-bottom: 15px;
}
.padding50{
  padding: 50px;
}
.padding10-a{
  padding: 10px;
}
.padding10-lr{
  padding: 0 10px;
}
.padding10-tb{
  padding: 10px 0;
}
.padding25-lr{
  padding: 0 50px;
}
.merged{
  position: relative;
  height: 10vh;
}
.layers{
  position: absolute;
}
.shift-bottom{
  margin-top: 0vh;
}
.text-intro{
  padding: 20px;
  margin-left: 12.5%;
}
.intro{
  margin-top: 13vh;
  margin-left: 12.5%;
}
.shift{
  padding-top: 20px;
}
.shift-example{
  // padding-top: 30px;
  margin: 10px 0;
}
.width10{
  width: 10%;
}
.width20{
  width: 24.5%;
}
.width25{
  width: 25%;
}
.width30{
  width: 30%;
}
.width33{
  width: 33%;
}
.width40{
  width: 40%;
}
.width50{
  width: 50%;
}
.width60{
  width: 60%;
}
.width75{
  width: 75%;
}
.width100{
  width: 100%;
}
.h60{
  height: 60%;
}
.h50{
  height: 50%;
}
.h40{
  height: 40%;
}
.h75{
  height: 75%;
}
.h85{
  height: 85%;
}
.h90{
  height: 90%;
}
.h100{
  height: 100%;
}
.ex-img{
  height: 60%;
}
.ex-desc{
  height: 40%;
}
.margin-auto{
  margin: auto;
}
.text-align-center{
  text-align: center;
}
#copyright:before{
  content: "\00a9 ";
}
.top{
  margin-top: 8vh;
}
.examples{
  margin-top: 10px;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
  padding: 10px;
  font-size: 0;
}
.testing{
  margin-top: 10px;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
  padding: 10px;
  height: 85%;
}
.test{
  box-shadow: 1px 1px rgba(0,0,0,0.1),-1px 1px rgba(0,0,0,0.1),0 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  // background-color: white;
  background: rgba(250,250,250,0.7);
}
.h-40vh{
  height: 40vh;
}
.project-links{
  width:100%;
}
.example{
  box-shadow: 1px 1px rgba(0,0,0,0.1),-1px 1px rgba(0,0,0,0.1),0 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  background-color: white;
  }
.blurb{
  box-shadow: 1px 1px rgba(0,0,0,0.1),-1px 1px rgba(0,0,0,0.1),0 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  background-color: white;
  height: 10vh;
  color: black;
  font-size: 2em;
}
.ex1a{
  background-image: url('./images/ex1a.png');
  background-size: cover;
  background-position: center;
}
.ex1b{
  background-image: url('./images/ex1b.png');
  background-size: cover;
  background-position: center;
}
.ex1c{
  background-image: url('./images/ex1c.png');
  background-size: cover;
  background-position: center;
}
.ex2a{
  background: url('./images/ex2a.png');
  background-size: cover;
  background-position: center;
}
.ex2b{
  background: url('./images/ex2b.png');
  background-size: cover;
  background-position: center;
}
.ex2c{
  background: url('./images/ex2c.png');
  background-size: cover;
  background-position: center;
}
.ex2d{
  background: url('./images/ex2d.png');
  background-size: cover;
  background-position: center;
}
.ex3a{
  background: url('./images/ex3a.png');
  background-size: cover;
  background-position: center;
}
.ex3b{
  background: url('./images/ex3b.png');
  background-size: cover;
  background-position: center;
}
.ex3c{
  background: url('./images/ex3c.png');
  background-size: cover;
  background-position: center;
}
.ex3d{
  background: url('./images/ex3d.png');
  background-size: cover;
  background-position: center;
}
.ex4a{
  background: url('./images/ex4a.png');
  background-size: cover;
  background-position: center;
}
.ex4b{
  background: url('./images/ex4b.png');
  background-size: cover;
  background-position: center;
}
.ex4c{
  background: url('./images/ex4c.png');
  background-size: cover;
  background-position: center;
}
.ex4d{
  background: url('./images/ex4d.png');
  background-size: cover;
  background-position: center;
}
.ex5a{
  background: url('./images/ex5a.png');
  background-size: cover;
  background-position: center;
}
.ex5b{
  background: url('./images/ex5b.png');
  background-size: cover;
  background-position: center;
}
.ex5c{
  background: url('./images/ex5c.png');
  background-size: cover;
  background-position: center;
}
.ex5d{
  background: url('./images/ex5d.png');
  background-size: cover;
  background-position: center;
}
.ex6a{
  background-image:  url('./images/ex6a.png');
  background-size: cover;
  background-position: center;
}
.ex6b{
  background: url('./images/ex6b.png');
  background-size: cover;
  background-position: center;
}
.ex6c{
  background: url('./images/ex6c.png');
  background-size: cover;
  background-position: center;
}
.ex6d{
  background: url('./images/ex6d.png');
  background-size: cover;
  background-position: center;
}

.fp-controlArrow.fp-prev {
    left: 5%;
    border-width: 20px 18px 20px 0;
}
.fp-controlArrow.fp-next {
    right: 5%;
    border-width: 20px 0 20px 18px;
  }
.overlay{
  // background:rgba(255,255,255,0.4);
}
.hover{
    position:relative;
    display:inline-block;
}
.hover:hover:after {
    content:"\A";
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.4);
    position:absolute;
    top:0;
    left:0;
}
#fp-nav{
  top: 50%;
}
.fp-controlArrow{
  top: 90%;
}
.example-layout{
  flex-direction: column;
  // height: 90%;
  // margin: auto;
}
.example-layout-each3{
  width: 100%;
  height: 33%;
}
.example-layout-each4{
  width: 100%;
  height: 24.5%;
}
.slide-layout{
  flex-direction: column;
}
.slide-layout-left{
  width: 100%;
}
.slide-layout-right{
  width: 100%;
}
.h-auto{
  height:auto;
}
.flex-wrap{
  flex-wrap: wrap;
}
.fa-fade{
  color: rgba(0,0,0,0.2);
}
@media only screen and (min-width: 550px) {
    .example-layout{
      flex-direction: row;
      // height: 70%;
      // margin: auto;
    }
    .ex-img{
      height: 100%
    }
    .ex-desc{
      height: 100%
    }
    .example-layout-each3{
      width: 33%;
      height: 100%;
    }
    .example-layout-each4{
      width: 24.5%;
      height: 100%;
    }
      .shift-bottom{
        margin-top: 10vh;
      }
}
// @media only screen and (min-width:500px)and (max-height: 350px) {
//   .shift-bottom{
//     margin-top: 3vh;
//   }
// }
@media only screen and (max-height: 500px) {
  h3{
    font-size: 2em;
  }
  .shift-bottom{
    margin-top: 3vh;
  }
.shift{
  padding-top: 0;
}
}
@media only screen and (min-width: 700px) {
  h3{
    font-size: 4em;
  }
  h1{
    font-size: 7em;
  }
  .shift-bottom{
    margin-top: 0vh;
  }
  .intro{
    margin-top: 5vh;
  }
  .example-layout{
    flex-direction: column;
    // height: 70%;
    // margin: auto;
  }
  .example-layout-each3{
    width: 100%;
    height: 33%;
  }
  .example-layout-each4{
    width: 100%;
    height: 24.5%;
  }
}
@media only screen and (min-width: 700px) and (max-height: 500px) {
  h3{
    font-size: 2em;
  }
  .shift-bottom{
    margin-top: 0vh;
  }
  .example-layout{
    flex-direction: row;
    // height: 70%;
    // margin: auto;
  }
  .ex-img{
    height: 100%
  }
  .ex-desc{
    height: 100%
  }
  .example-layout-each3{
    width: 33%;
    height: 100%;
  }
  .example-layout-each4{
    width: 24.5%;
    height: 100%;
  }
  .intro{
    margin-top: 22vh;
  }
}
@media only screen and (max-width: 500px) and (min-height: 520px) {
.testing{
  height: 40vh;
}
  .intro{
    margin-top: 5vh;
  }

}
@media only screen and (max-width: 500px) and (min-height: 520px) {

  .shift-bottom{
    margin-top: 17vh;
  }

}
@media only screen and (min-width: 950px) {
  .testing{
    height: 40vh;
  }
  p{
    text-shadow: #9d9d9d 1px 1px 3px;
    line-height: 1.3em;
    font-size: 1.3em;
  }
  h3{
    font-size: 4em;
    text-align: left;
  }
  .slide-layout{
    flex-direction: row;
  }
  .slide-layout-left{
    width: 40%;
  }
  .slide-layout-right{
    width: 50%;
  }
  .project-links{
    width:10%;
    flex-wrap: wrap;
  }
  .shift-bottom{
    margin-top: 15vh;
  }
  .intro{
    margin-top:13vh;
  }
  h1{
    font-size: 7rem;
  }
  .example-layout{
    flex-direction: row;
    // height: 70%;
    // margin: auto;
  }
  .ex-img{
    height: 100%
  }
  .ex-desc{
    height: 100%
  }
  .example-layout-each3{
    width: 33%;
    height: 100%;
  }
  .example-layout-each4{
    width: 24.5%;
    height: 100%;
  }
}
